<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Sick Leave</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body class="bg-light">
<div class="container mt-5">
    <h1>Edit Sick Leave</h1>

    <form th:action="@{/sick-leaves/edit}" th:object="${sickLeave}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label class="form-label">Start Date:</label>
            <input type="date" th:field="*{startDate}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Duration (days):</label>
            <input type="number" th:field="*{dayDuration}" class="form-control" required/>
        </div>

        <input type="hidden" th:field="*{patientId}"/>

        <div class="mb-3">
            <label class="form-label">Patient:</label>
            <th:block th:each="p : ${patients}">
                <input type="text" class="form-control" readonly
                       th:if="${p.id} == ${sickLeave.patientId}"
                       th:value="${p.name}" />
            </th:block>
        </div>




        <input type="hidden" th:field="*{patientId}"/>
        <div class="mb-3">
            <label class="form-label">Doctor:</label>
            <select th:field="*{issuedById}" class="form-select">
                <option th:each="d : ${doctors}" th:value="${d.id}" th:text="${d.doctorName}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <a th:href="@{/sick-leaves}" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>
</body>
</html>
