<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body class="bg-light">
<div class="container mt-5">
    <h1 class="mb-4">Edit Patient</h1>
    <form th:action="@{/patients/edit}" th:object="${patient}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="patientName" class="form-label">Name:</label>
            <input type="text" th:field="*{patientName}" class="form-control" id="patientName" readonly/>
        </div>
        <div class="mb-3">
            <label for="egn" class="form-label">EGN:</label>
            <input type="text" th:field="*{egn}" class="form-control" id="egn" readonly/>
        </div>
        <div class="mb-3">
            <label for="paidInsurance" class="form-label">Paid Insurance Last 6 Months:</label>
            <div class="form-check">
                <input type="checkbox" th:field="*{hasPaidInsuranceLastSixMonths}" class="form-check-input"
                       id="paidInsurance"/>
                <label class="form-check-label" for="paidInsurance"></label>
            </div>
        </div>


        <!-- Админ: може да избира -->
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <label  class="form-label">Change Personal Doctor:</label>
            <select th:field="*{personalDoctorId}" class="form-select">
                <option th:each="doc : ${doctors}"
                        th:value="${doc.id}"
                        th:text="${doc.doctorName}"></option>
            </select>
        </div>


        <!-- За DOCTOR -->
        <div th:if="${#authorization.expression('hasRole(''DOCTOR'')')}">
            <label class="form-label ">Current Doctor:</label>
            <input type="hidden" th:field="*{personalDoctorId}" />
            <input type="text" class="form-control" th:value="${doctorName}" readonly />
        </div>


        <div class="mb-3">
                <label for="username" class="form-label">Username (Keycloak)</label>
                <input type="text" th:field="*{username}" class="form-control" id="username" readonly/>
            </div>


            <button type="submit" class="btn btn-primary">Update</button>
            <a th:href="@{/patients}" class="btn btn-secondary">Back</a>

    </form>

</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>