<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Welcome</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body class="bg-light">
<div class="container mt-5 text-center">
    <h1 class="mb-4" th:text="${welcome}">Welcome!</h1>

    <div class="d-flex justify-content-center flex-wrap gap-3">
        <a th:href="@{/doctors}" class="btn btn-primary btn-lg me-3">Doctors</a>
        <a th:href="@{/diagnoses}" class="btn btn-warning btn-lg text-dark me-3">Diagnoses</a>
        <a th:href="@{/medicines}" class="btn btn-success btn-lg me-3">Medicines</a>
        <a th:href="@{/patients}" class="btn btn-info btn-lg text-dark me-3">Patients</a>
        <a th:href="@{/sick-leaves}" class="btn btn-secondary btn-lg me-3">Sick Leaves</a>
        <a th:href="@{/treatment}" class="btn btn-danger btn-lg me-3">Treatment</a>
        <a th:href ="@{/visits}" class="btn btn-primary btn-lg me-3">Visits</a>

    </div>

</div>

<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>
