<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit Count Report</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body class="bg-light">
<div class="container mt-5">
    <h2 class="mb-4">📋 Visit Count per Doctor</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Doctor Name</th>
            <th>Visit Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${visitStats}">
            <td th:text="${entry.key}"></td>
            <td th:text="${entry.value}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/}" class="btn btn-secondary mt-3">← Back</a>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>
